$font-family:    Helvetica, sans-serif;
$color: rgb(17, 16, 15);
$color-font : aliceblue;

header {
    
    color: $color-font;
    background-color: $color;
    font: $font-family;
    text-align: center;
    display: flex;
    justify-content: space-around;
}